@font-face {
  font-family: 'Lora Regular';
  font-style: normal;
  font-weight: 400;
  src: url('Lora-Regular.ttf') format('truetype');
  font-display: fallback;
}

@font-face {
  font-family: 'Lora Bold';
  font-style: normal;
  font-weight: 700;
  src: url('Lora-Bold.ttf') format('truetype');
  font-display: fallback;
}